*{
    margin: 0;
}
.container{
    background-color: red;
    display: grid;
    /*grid-template-rows: 133px 133px 133px;
    grid-template-columns: 133px 133px 133px;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 133px 1fr 133px;
    row-gap: 12px;
    column-gap: 12px;
    justify-content: center;
}

.item{
    background-color: aqua;
    /*height: 122px;
    width: 122px;*/
}

.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: black;
    color: white;
}

.item2{
    justify-self: center;
}

.footer{
background-color: black;
grid-column: 1 / span 3;
background-color: black;
color: white;
}